<!-- <ion-content>
  <div class="container ion-text-center">
    <img src="assets/icon.jpeg">
    </div>
  </ion-content> -->


 
  <ion-content>
    <ion-slides>
  
          <ion-slide>
            <div class="slide">
              <img src="assets/slide-1.png"/>
              <h2>SELAMAT DATANG</h2>
              <p>Mobile Aplikasi Wisuda UNBIN</p>
            </div>
          </ion-slide>
  
          <ion-slide>
            <img src="assets/slide-2.png"/>
            <h2>SCAN KEHADIRAN</h2>
            <p>Tunjukan ID QRCode Wisudawan</p>
          </ion-slide>
  
          <ion-slide>
            <img src="assets/slide-3.png"/>
            <h2>LOGIN WISUDAWAN</h2>
            
            <ion-button color='light' (click)="login()">Login</ion-button>
          </ion-slide>
  
          
  
        </ion-slides>
  </ion-content>
  